@import '../fonts/fonts.css';
*{  margin: 0px;
    padding: 0px;
}
body{
    overflow-x:hidden;
    font-family: 'LiberationMono-Regular';
}
#head_nav{
    width: 100%;
    height: 50px;
    background-color: var(--shabi);
    border: var(--border);
    float: left;
    position: fixed;
    top: 0px;
    z-index: 999;
}
#nav_logo{
    width: 100%;
    height: 50px;
    float: left;
}
#nav_logo p{
    color: #FEFEFE;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}
#nav_sou{
    width: 400px;
    height: 50px;
    float: left;
}
.container {
    height: 46px;
    width: 360px;
    position: fixed;
    position: absolute;
    top: 4px;
    left: 100px;
    }
.container img{
    width: 22px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index:1;
}
.parent {
    position: relative;
    }
.search {
    width: 300px;
    height: 40px;
    outline: none;
    border-style: none;
    padding-left: 42px;
    position: absolute;
    background-color: var(--bg);
    color: var(--textColor);
    border: var(--border);
    }
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;
    }
#nav_music{
    width: 310px;
    height: 50px;
    float: left;
}
#nav_an{
    width: 140px;
    height: 50px;
    float: right;
}
.left-left{
    width: 70px;
    height: 100%;
    position: fixed;
    z-index: 1;
    border-right: 1px solid #e2e0e0;
    background-color: var(--bg);
    color: var(--textColor);
    border: var(--border);
}
.home{
    position: fixed;
    top: 10px;
    left: 14px;
    flex-direction: column;
    font-size: 15px;
    white-space: nowrap;
    list-style: none;
}
.home a{
    display:block;
    width: 34px;
    height: 34px;
    margin-top:40px;
}
#img_1{
    width: 30px;
    height: 30px;
    transform: translateX(-60px);
    filter: drop-shadow(#25E6BE 60px 0px)
}
#img_2{
    width: 30px;
    height: 30px;
    transform: translateX(-60px);
    filter: drop-shadow(#FB4590 60px 0px)
}
#img_3{
    width: 28px;
    height: 28px;
    margin-left: 3px;
}
#img_4{
    width: 30px;
    height: 30px;
    margin-left: 2px;
}
#img_5{
    width: 26px;
    height: 28px;
    margin-left: 4px;
    transform: translateX(-60px);
    filter: drop-shadow(#FAE16F 60px 0px)
}
#img_6{
    width: 30px;
    height: 30px;
    margin-left: 2px;
    transform: translateX(-60px);
    filter: drop-shadow(#25E6BE 60px 0px)
}
#root{
    width: 220px;
    /* height: 637px; */
    height: 100%;
    /* background-color: #F1F3F4; */
    position: fixed;
    top: 50px;
    left: 70px;
    background-color: var(--background-color);
    color: var(--textColor);
}
.my{
    width: 190px;
    height: 130px;
    padding: 15px;
    border-bottom: 1px solid #E4EAEC;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
.my img{
    position: relative;
    top: -5px;
    left: 40px;
}
.my h5{
    position: relative;
    left: 80px;
    width: 30px;
    color: #58666E;
}
.my p{
    font-size: 14px;
}
.root_db{
    width: 220px;
    height: 40px;
    position: fixed;
    bottom: 0px;
}
#home img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
}
#home p{
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 5px;
    color: #A0A0A0;
}
#photo img{
    width: 22px;
    height: 22px;
    position: absolute;
    top: -2px;
    left: 90px;
}
#photo p{
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 88px;
    color: #A0A0A0;
}
#str img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -5px;
    right:25px;
}
#str p{
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 170px;
    color: #A0A0A0;
}
.content_cen{
    width: 800px;
    height: 1600px;
    position: absolute;
    top: 50px;
    left: 290px;
    z-index: -999999;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
.cen_md{
    width: 710px;
    height: 40px;
    padding-left: 50px;
    padding-top: 10px;
    background-color: var(--background-color);
}
.hello{
    z-index: 100;
    color: #22B1DD;
}
.hello span{
    color: #FB4590;
}
.hello i{
    color: #FB4590;
}
.hello time{
    color: #FAE16F;
}
.content_root{
    width: 740px;
    height: 180px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
.content_root a{
    text-decoration: none;
    color: black;
    color: var(--textColor);
}
.article_img{
    width: 200px;
    height: 180px;
}
.article_img img{
    width: 200px;
    height: 180px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.guodu{
    width: 1px;
    height: 180px;
    background-color: #F8F9FC;
    float: left;
    position: absolute;
    top: 0px;
    left: 200px;
}
.article_con h2{
    position: absolute;
    top: 2px;
    left: 240px;
}
.article_con h2:hover{
    color: #22B1DD;
}
.article_con p{
    position: absolute;
    top: 40px;
    left: 240px;
    right: 40px;
    font-size: 14px;
    color: var(--textColor);
}
.article_con p:hover{
    color: #22B1DD;
}
.article_user{
    width: 380px;
    height: 10px;
    position: absolute;
    top: 130px;
    left: 240px;
    bottom: 0px;
    border-top: 1px solid #F4F7F7;
}
#user_user img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
}
#user_user span{
    position: absolute;
    top: 18px;
    left: 22px;
    font-size: 14px;
}
#user_user span:hover{
    color: #22B1DD;
}
#user_time img{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    left: 80px;
}
#user_time span{
    position: absolute;
    top: 22px;
    left: 104px;
    font-size: 14px;
}
#user_com img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 180px;
}
#user_com span{
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 14px;
}
.progress-bar {
    height: 5px;
    background: #66CCFF;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: 999;
}
#scroll {
    position:fixed; 
    top:460px; 
    right:60px;
}
#toTop{
    width: 40px;
    height: 40px;
    border: 1px solid #F5F5F5;
    border-radius: 50%;
    background-color: #25E6BE;
    border: var(--border);
}
#toTop :hover{
    cursor:pointer;
}
#toTop img{
    width: 30px;
    height: 30px;
    padding-top: 4px;
    padding-left: 4px;
}
#toTom{
    width: 40px;
    height: 40px;
    border: 1px solid #F5F5F5;
    border-radius: 50%;
    background-color: #25E6BE;
    border: var(--border);
    position: relative;
    top: 10px;
}
#toTom :hover{
    cursor:pointer;
}
#toTom img{
    width: 24px;
    height: 24px;
    padding-top: 8px;
    padding-left: 8px;
}
.content_rig{
    width: 100%;
    height: 1600px;
    background-color: #F9F9F9;
    position: absolute;
    top: 50px;
    left: 1090px;
    z-index:-1;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
.window{
    width: 240px;
    height: 200px;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
.window img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 30px;
}
.window h4{
    position: relative;
    top: 20px;
    left: 40px;
}
.window p{
    position: relative;
    top: 40px;
    margin: 0px 20px 0px 20px;
    font-size: 14px;
    text-indent: 2em;
    color: var(--textColor);
}
.hot{
    position:absolute;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
.hot_con a{
    text-decoration: none;
}

.hot h4{
    position: relative;
    top: 30px;
    left: 10px;
}
.hot_con{
    width: 200px;
    height: 60px;
    border-bottom: 1px solid #58666E;
    margin: 20px 20px 20px 20px;
    position: relative;
    top: 50px;
}
.hot_con img{
    width: 30px;
    position: relative;
    top: -20px;
    left: 120px;
}
.hot_con span{
    position: relative;
    top: -28px;
    left: 120px;
}
.hot_con h4{
    width: 20px;
    position: relative;
    top: -50px;
    left: 20px;
    color: var(--textColor);
}
.hot_con h4:hover{
    color: #22B1DD;
}
.hot_con p{
    position: relative;
    top: -40px;
    margin-left: 20px;
    font-size: 14px;
    color: var(--textColor);
}
.hot_con p:hover{
    color: #22B1DD;
}
.info h4{
    position: relative;
    top: 450px;
    left: 10px;
}
.info_box{
    width: 200px;
    height: 200px;
    position: relative;
    top: 480px;
    left: 20px;
}
.info_fo{
    position: relative;
    height: 50px;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
.info_fo img{
    width: 20px;
    position: relative;
    top: 15px;
    left: 20px;
}
.info_fo span{
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 14px;
}
#info{
    position: relative;
    top: -10px;
    left: 150px;
    font-size: 14px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
#info_s{
    position: relative;
    top: 0px;
    left: 2px;
}
.fil{
    width: 950px;
    height: 40px;
    position: absolute;
    top: 1610px;
    left: 315px;
    background-color: var(--background-color);
    color: var(--textColor);
    border: var(--border);
}
.fil p{
    font-size: 14px;
    position: relative;
    left: 20px;
    top: 10px;
    margin-left: 180px;
}
.fil a{
    color: red;
}
 #in2{
    cursor:pointer
}
#in1{
    cursor:pointer
}
#dv1 {
    width: 0px;
    overflow: hidden;
    float: left;
    position: absolute;
    z-index:6;
}

#dv2 {
    width: 220px;
    height: 100px;
    background: #66CCFF;
    position: relative;
}
#p{
    font-size: 14px;
    position: relative;
    padding: 20px 20px 20px 20px;
    color: #FEFEFE;
}
  :root[data-theme="light"] {
    background-color: #FEFEFE;
    color: #000000;
    --textColor: #000000;
    --border: black;
    --background-color: #F1F3F4;
    --shabi: #ffffff;
  }
  :root[data-theme="dark"] {
    background-color: #2D2D2D;
    color: #FFFFFF;
    --textColor: #E2E1E6;
    border: #3E3D42;
    --background-color: #3d3e3f;
    --shabi: #2D2D2D;
  }
  /*亮色*/
@media (prefers-color-scheme: light) {
    :root {
      background-color: #FFFFFF;
      color: #000000;
    }
    p {
      color: #000000;
    }
  }
  
  /*暗色*/
  @media (prefers-color-scheme: dark) {
    :root {
      background-color: #000000;
      color: #FFFFFF;
    }
    p {
      color: #FFFFFF;
    }
  }