@font-face {
    font-family: Yuan;
    src: url(./Yuan.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: LiberationMono-Regular;
    src: url(./LiberationMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}